.boardlist_app{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.boardlist_top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boardlist_profile{
    background-color: #EFF5FF;
    align-items: center;
    justify-content: center;
    display: block;
    margin-top: 5vh;
    margin-right: 2vw;
    padding: 3vh 2vw;
    word-wrap:none;
}
.boardlist_profile b{
    font-weight: 800;
}
.boardlist_profile img{
    width: 10vw;
    background-color: white;
    padding-bottom: 0;
}
.boardlist_profileDetail{
    text-align: center;
    padding-bottom: 2vh;
}

.boardlist_best{
    margin: auto;
    padding-top: 3vh;
}
.boardlist_best ul{
    border: 2px solid #252525;
    list-style: none;
    padding: 0;
    padding-left: 2vw;
    text-align: left;
    width: 43vw;
    border-radius: 1rem;
    font-size: 1.2rem;
    min-height: 32vh;
}
.boardlist_best h2{
    font-weight: 800;
}
.boardlist_best li{
    padding: 2vh 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.boardlist_list{
    margin-top: 3vh;
}
.boardlist_list ul{
    list-style: none;
}
.boardlist_list img{
    height: 4vh;
    width: fit-content;
}
.boardlist_post{
    border-bottom: 1px solid #252525;
    padding:0 1vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
    width: 60vw;
}
.boardlist_title{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.boardlist_title img{
    margin-top: -2vh;
    height: 5vh;
    width: fit-content;
}
.boardlist_content{
    padding-top: 3vh;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}
.boardlist_comment{
    display: flex;
    align-items: center;
}
.boardlist_comment label{
    font-size: 1.2rem;
    margin-left: 0.5vw;
}
.boardlist_filter{
    display: flex;
    align-items: center;
    position: relative;
    float: right;
    transition: all 1s;
}
.boardlist_filter img{
    height:3.5vh;
    cursor: pointer;
}
.boardlist_filter button{
    margin-left: 1vw;
    padding: 1vh 3vw;
    border-radius: 1rem;
    border: none;
    background-color: #FFD3B6;
    font-weight: 800;
    font-size: 1.2vw;
}
.boardlist_sort ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2vw;
    font-size: larger;
    margin-right: 2vw;
}
.boardlist_sort li{
    cursor: pointer;
}
.boardlist_select{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.open_category{
    cursor: pointer;
    font-size:x-large;
    font-weight: 700;
    border-bottom: 3px solid #6E6E6E;
    margin-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap:5vw;
    margin-left: 1vw;
}
.list_category{
    padding-left: 1vw;
    white-space: nowrap;
}
.open_category img{
    transition: transform 0.3s;
    height: 2vh;
    margin-right: 1vw;
}
.open_category.active img{
    transform: rotate(180deg);
}
.boardlist_category ul{
    opacity: 0;
    transition: opacity 1s ease-in;
}
.boardlist_category ul.show{
    opacity: 1;
    list-style: none;
    padding: 0;
    padding-left: 1.5vw;
    display: flex;
    gap: 2vw;
    font-size: larger;
    position: relative;
    left: 0;
}
.boardlist_category li{
    cursor: pointer;
}
.boardlist_search{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 1vh auto;
}
.boardlist_search input{
    width: 35vw;
    padding: 2vh 1.5vw;
    border: none;
    outline: none;
    border: 3px solid #252525;
    border-radius: 2rem;
    font-size: large;
}
.boardlist_search .img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    position: absolute;
    right: 1.5vw;
}
.boardlist_search .img .erase{
    height: 2.7vh;
    cursor: pointer;
}
.boardlist_search .img .search{
    height: 4vh;
    cursor: pointer;
}
.boardlist_search .img .erase:active{
    height: 2vh;
    transform: height 0.5s ease-in;
}
.boardlist_search .img .search:active{
    height: 3.5vh;
    transform: height 0.5s ease-in;
}
.boardlist_searchResult {
    text-align: center;
    font-size: larger;
    margin-top: 2vh;
}

.boardlist_page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}
.boardlist_page img{
    width: 1.8rem;
    cursor: pointer;
}
.boardlist_page p{
    font-size: 1.8rem;
    font-weight: 800;
    padding: 0 1vw;
}