.boardDetail_app {
  position: relative;
  padding-bottom: 5vh;
}
.profile_img {
  border-radius: 50px;
  background-color: #eff0f2;
}
.board_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1vw;
  gap: 0.5vh;
}
.board_div {
  width: 60vw;
  padding: 2vh 1.5vw;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
  display: block;
  position: relative;
}
.board_top {
  display: flex;
  width: 60vw;
  align-items: flex-end;
}
.board_bottom {
  display: flex;
  align-items: center;
}
.board_bottom .bookmark {
  margin-left: 1vw;
}
.post_lb {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.prev_btn,
.next_btn,
.list_btn {
  background-color: #eff0f2;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.1rem;
  margin-left: 0.4rem;
  font-weight: 600;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button_container1 {
  margin-left: 20%;
}

.posttitle_lb {
  font-size: 2.2rem;
  font-weight: 800;
}

.file-output-label {
  display: inline-block;
  background-color: #a2a5aa;
  color: white;
  padding: 8px 10px;
  width: 7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.category_lb {
  font-size: 1.1rem;
  font-weight: 600;
  color: #104085;
}
.board_icon {
  display: flex;
  height: fit-content;
  float: right;
  right: 1vw;
  gap: 1vw;
  position: absolute;
  top: 2vh;
  width: fit-content;
}
.board_icon img {
  height: clamp(20px, 5vh, 60px);
  cursor: pointer;
}
.board_top .title {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  width: fit-content;
}
.board_top .title label {
  color: #252525;
  font-weight: 400;
  margin-left: 1vw;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 7vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  display: grid;
}

.postedit_btn,
.postdelete_btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1vh 2vw;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.postedit_btn:hover,
.postdelete_btn:hover {
  background-color: #d9d9d9;
  font-weight: 800;
}
.board_middle {
  width: 60vw;
}
.content_div {
  padding: 1rem;
  font-size: 1.2rem;
}

.post_nickname {
  font-size: 1.1rem;
  font-weight: 600;
}

.boardlist_replies {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #777777;
  width: fit-content;
  margin: auto;
  margin-top: 5vh;
  border-radius: 1vh;
  padding-bottom: 0.2vh;
  box-sizing: border-box;
}
.boardlist_replies textarea {
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;
  width: 53.5vw;
  border-radius: 1vh;
  font-size: large;
  padding: 0.5vh 0.5vw;
}
.boardlist_replies button {
  margin-right: 0.2vw;
  border: none;
  background-color: #104085;
  color: white;
  font-size: x-large;
  font-weight: 700;
  padding: 0.5vh 1.6vw;
  border-radius: 1vh;
}
.boardlist_replies button:active {
  font-size: larger;
  border-radius: 0.7vh;
}
.reply_delete {
  position: absolute;
  right: 0.5vw;
  top: 1vh;
}
.reply_delete img {
  padding: 0;
  height: 3vh;
  cursor: pointer;
}

.edit_container{
  position: absolute;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  padding: 1vh 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 100;
}
.edit_reply{
  width: 53.5vw;
  box-sizing: border-box;
  /* outline: none; */
  height: fit-content;
  border: none;
  padding: 0;
  resize: none;
  z-index: 100;
}
.rereply_content .edit_reply{
  width: 48vw;
}
.reply_delete button{
  border: none;
  padding: 1vh 2vw;
  font-size: large;
  font-weight: 700;
  z-index: 100;
  background-color: white;
}
.reply_delete button:hover {
  background-color: #d9d9d9;
}
.reply_reply {
  display: flex;
  align-items: center;
}
.reply_layout{
  border: 2px solid #666666;
  box-sizing: border-box;
  margin: auto;
  margin-top: 5vh;
  width: fit-content;
  height: fit-content;
  position: relative;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  padding: 1vh 0;
  gap: 2vh;
}
.reply_profile {
  width: 7vh;
  height: 7vh;
  border-radius: 70%;
  overflow: hidden;
  background-color: #eff0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}
.reply_profile img {
  width: 100%;
  object-fit: cover;
}
.replies_container {
  position: relative;
  width: fit-content;
  margin: auto;
}
.reply_rere {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-right: 0.5vw;
  gap: 1vw;
  align-items: center;
}

.rereply_add {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rereply_add b {
  padding-left: 0.5vw;
}
.reply_content {
  padding-left: 2vw;
  display: flex;
  min-width: 54vw;
  box-sizing: border-box;
  gap: 1vh;
  flex-direction: column;
}
.reply_content label {
  font-weight: 700;
  font-size: larger;
}
.rereply_add img {
  height: 3vh;
}
.rereply_addcontainer {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}
.rereply_addcontainer img {
  height: 5vh;
}
.rereply_addbox {
  align-items: flex-end;
  border: 2px solid #666666;
  width: fit-content;
  margin-top: 5vh;
  border-radius: 1vh;
  padding-bottom: 0.2vh;
  margin-left: 1vw;
  display: flex;
}
.rereply_addbox textarea {
  border: none;
  outline: none;
  resize: none;
  width: 48vw;
  border-radius: 1vh;
  font-size: large;
  padding: 0.5vh 0.5vw;
}
.rereply_addbox button {
  margin-right: 0.2vw;
  border: none;
  background-color: #104085;
  color: white;
  font-size: large;
  font-weight: 700;
  padding: 0.5vh 1.6vw;
  border-radius: 1vh;
  white-space: nowrap;
}

.rereply_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rereply_container img {
  height: 5vh;
  cursor: pointer;
}
.rereply_profile {
  width: 6vh;
  height: 6vh;
  border-radius: 70%;
  overflow: hidden;
  background-color: #eff0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}
.rereply_profile img {
  width: 100%;
  object-fit: cover;
  height: fit-content;
}
.rereply_box {
  border: 2px solid #666666;
  margin-top: 5vh;
  border-radius: 1vh;
  padding-bottom: 0.2vh;
  margin-left: 1vw;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.rereply_layout{
  display: flex;
  align-items: center;

}
.rereply_content {
  padding: 2vh 0;
  margin-left: 2vw;
  box-sizing: border-box;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  min-width: 48vw;
}
.rereply_content label {
  font-weight: 700;
  font-size: larger;
}
.rereply_delete {
  position: absolute;
  right: 0.5vw;
  top: 1vh;
}
.rereply_delete img {
  height: 3vh;
}
.rereply_delete button{
  border: none;
  padding: 1vh 2vw;
  font-size: large;
  font-weight: 700;
  z-index: 100;
  background-color: white;
}
.rereply_delete button:hover {
  background-color: #d9d9d9;
}
.rereply_date {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5vw;
  padding-bottom: 1vh;
}
.edit_button{
  align-self: flex-end;
  display: flex;
  gap:0.5vw;
  margin-right: 1vw;
}
.edit_button button:last-child{
  background-color: #104085;
  color: white;
  padding: 0.5vh 1vw;
  border: none;
  border-radius: 1vh;
  font-weight: 600;
}
.edit_button button:first-child{
  color: #104085;
  padding: 0.5vh 1vw;
  border: 1px solid #efefef;
  border-radius: 1vh;
  font-weight: 800;
}
@media (max-width: 768px){
  .board_div{
    width: 90vw;
  }
  .boardlist_replies{
    border: 2px solid #777777;
  }
  .boardlist_replies textarea{
    width: 75vw;
    box-sizing: border-box;
    font-size: medium;
  }
  .boardlist_replies button{
    font-size: medium;
    padding: 0.5vh 4vw;
  }
  .reply_layout{
    width: fit-content;
    box-sizing: border-box;
    border: 1.5px solid #666666;
  }
  .reply_rere{
    position: relative;
    white-space: nowrap;
    font-size: small;
    gap: 3vw;
  }

  .button_container1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2vw;
  }
  .rereply_date{
    font-size: small;
    padding-bottom: 0vh;
    margin-right: 1vw;
  }
  .rereply_box{
    border: 1.5px solid #666666;
    box-sizing: border-box;
    width: fit-content;
    padding-bottom: 1vh;
  }
  .reply_delete{
    right: 1.5vw;
  }
  .rereply_delete{
    right: 1.5vw;
  }
  .rereply_container{
    gap: 3vw;
    margin: 0;
  }
  .board_top .title{
    margin-left: 3vw;
  }
  .board_top .title label {
    font-size: small;
    margin: 0;
  }
  .board_middle{
    width: fit-content;
  }
  .content_div{
    padding: 0 0.5rem;
  }
  .category_lb{
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  .edit_container{
    right: 0vw;
  }
  .edit_container button{
    padding: 1vh 5vw;
    font-size: medium;
  }
  .posttitle_lb{
    font-size: x-large;
  }
  .board_bottom img{
    height: 4vh;
    width: fit-content;
  }
  .edit_reply{
    width: 72vw;
    box-sizing: border-box;
  }
  .rereply_content .edit_reply{
    width: 65vw;
  }
  .rereply_content .text{
    width: 60vw;
  }
  .reply_content .text{
    width: 70vw;
  }

  .edit_button{
    gap: 2vw;
  }
  .edit_button button:first-child{
    padding: 0.5vh 3vw;
  }
  .edit_button button:last-child{
    padding: 0.5vh 3vw;
  }
}
@media(max-width: 425px){
  .edit_reply{
    width: 70vw;
    box-sizing: border-box;
  }
  .rereply_content .edit_reply{
    width: 58vw;
  }
}
