.container {
  height: 100%;
  width: 60vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boardlist_drop {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.2rem;
}

.Board_title {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 1.7rem;
  font-weight: 700;
}

.Board_content {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  resize: vertical;
  font-size: 1.2rem;
}
.ql-container.ql-snow{
  max-height: 560px;
}

input[type="file"] {
  display: none;
}

.file-input-label {
  display: inline-block;
  background-color: #104085;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
.boardwrite_button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: initial;
  gap:2vw;
  float: right;
  width: 60vw;
  margin-top: 3vh;
  padding-bottom: 3vh;
}

.boardwrite_button button{
  border: none;
  padding: 1vh 3vw;
  font-size: large;
  border-radius: 5px;
  font-weight: 700;
}
.Bcancel_btn:hover{
  color:#777a7f;
}

.Bsave_btn{
  background-color: #104085;
  color: white;
}
.Bsave_btn:hover{
  color: #c0d8ff;
}

.date-label {
  display: block;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  color: #525151;
}

@media only screen and (max-width: 768px) {
}
