.boardlist_app {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}
.boardlist_top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3vh auto;
}
.boardlist_profile {
  background-color: #eff5ff;
  align-items: center;
  justify-content: center;
  display: block;
  margin-right: 2vw;
  padding: 3vh 2vw;
  word-wrap: none;
  text-align: center;
}
.boardlist_profile b {
  font-weight: 700;
}
.boardlist_profile img {
  width: 10vw;
  background-color: white;
  padding-bottom: 0;
}
.boardlist_profileDetail {
  text-align: center;
  font-size: large;
  white-space: nowrap;
}
.boardlist_profileDetail strong{
  font-weight: 700;
}

.detail_count{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: clamp(10px, 2vw, 30px);
}

.boardlist_best {
  margin: auto;
}
.boardlist_best ul {
  border: 2px solid #252525;
  list-style: none;
  padding: 0;
  padding-left: 2vw;
  text-align: left;
  width: 43vw;
  border-radius: 1rem;
  font-size: large;
  min-height: 15vh;
  margin: 0;
}
.boardlist_best h2 {
  font-weight: 700;
}
.boardlist_best li {
  padding: 2vh 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.boardlist_list {
  margin-top: 3vh;
}
.boardlist_list ul {
  list-style: none;
}
.boardlist_comment img {
  height: 4vh;
  width: fit-content;
}
.boardlist_post {
  border-bottom: 1px solid #252525;
  padding: 0 1vw;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
.boardlist_title {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.boardlist_bookmark {
  margin-top: -2vh;
  height: 5vh;
  width: fit-content;
}
.boardlist_content {
  padding-top: 3vh;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
.boardlist_comment {
  display: flex;
  align-items: center;
}
.boardlist_comment label {
  font-size: 1.2rem;
  margin-left: 0.5vw;
}
.boardlist_filter {
  display: flex;
  align-items: center;
  position: relative;
  float: right;
  transition: all 1s;
}
.boardlist_filter img {
  height: 3.5vh;
  cursor: pointer;
  margin-right: 2vw;
}
.boardlist_filter button {
  margin-left: 1vw;
  padding: 1vh 3vw;
  border-radius: 1rem;
  border: none;
  background-color: #ffd3b6;
  color: #252525;
  font-weight: 700;
  font-size: medium;
}
.boardlist_filter button:hover{
  font-weight: 800;
}
.boardlist_sort ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2vw;
  font-size: larger;
  margin-right: 2vw;
}
.boardlist_sort li {
  cursor: pointer;
}
.boardlist_select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.open_category {
  cursor: pointer;
  font-size: x-large;
  font-weight: 700;
  border-bottom: 3px solid #6e6e6e;
  margin-top: 1vh;
  padding-bottom: 1vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  margin-left: 1vw;
  align-items: center;
}
.list_category {
  padding-left: 1vw;
  white-space: nowrap;
}
.open_category img {
  transition: transform 0.3s;
  height: 2vh;
  margin-right: 1vw;
}
.open_category.active img {
  transform: rotate(180deg);
}
.boardlist_category ul {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.boardlist_category ul.show {
  opacity: 1;
  list-style: none;
  padding: 0;
  padding-left: 1.5vw;
  display: flex;
  gap: 2vw;
  font-size: larger;
  position: relative;
  left: 0;
}
.boardlist_category li {
  cursor: pointer;
}
.boardlist_search {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: 2px solid #252525;
  margin: 1vh auto;
  width: fit-content;
}
.boardlist_search input {
  padding: 2vh 1.5vw;
  width: clamp(260px, 40vw, 1000px);
  border: none;
  outline: none;
  font-size: large;
  border-radius: 2rem;
}
.boardlist_search .img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  margin-right: 1vw;
}
.boardlist_search .img .erase {
  height: 2.7vh;
  cursor: pointer;
}
.boardlist_search .img .search {
  height: 4vh;
  cursor: pointer;
}
.boardlist_search .img .erase:active {
  height: 2vh;
  transform: height 0.5s ease-in;
}
.boardlist_search .img .search:active {
  height: 3.5vh;
  transform: height 0.5s ease-in;
}
.boardlist_searchResult {
  text-align: center;
  font-size: larger;
  margin-top: 2vh;
}

.boardlist_page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
.boardlist_page img {
  width: 1.8rem;
  cursor: pointer;
}
.boardlist_page p {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 1vw;
}

.count_div {
  float: left;
}

@media ( max-width: 768px ) {
  .boardlist_profile{
    display: none;
  }
  .boardlist_best ul {
    width: clamp(260px, 85vw, 700px);
  }
  .boardlist_top{
    margin-top: 0;
  }
  .boardlist_bookmark{
    width: 9vw;
    height: fit-content;
  }
  .boardlist_comment img{
    width: 7vw;
    height: fit-content;
  }
  .boardlist_search .img .search{
    margin-right: 2vw;
  }

}