.count_ip {
  width: 60vw;
  height: 40vh;
  font-size: 20px;
  outline: none;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "GSans_2";
}

.count_title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-top: 8rem;
}

.count_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.count_lb {
  font-size: 20px;
  font-weight: 600;
}
