.findPW_app{
    text-align: center;
    font-family: 'NanumSquare';
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #252525;
}
.logo_full{
    width: 18em;
}
.findPW_p{
    font-size: 1.7em;
    margin-top: 3em;
}
.findPW_form{
    margin-top: 1em;
}
.findPW_input{
    padding-left: 1em;
    background-color: #FCEDE8;
    width: 20em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    font-size: 1.1em;
    box-sizing: border-box;
    font-weight: 700;
}
.findPW_input_container{
    margin-top: 1.5em;
}
.findPW_submit{
    font-weight: 800;
    font-size: 1.1em;
    width: 20em;
    box-sizing: border-box;
    height: 3em;
    margin-top: 2.5em;
    background-color:#FFD3B6;
    border: none;
    border-radius: 1em;
}
.findPW_link{
    text-decoration: none;
    color: #252525;
}
.findPW_login{
    text-decoration: underline;
    font-size: 1.2em;
    margin-top: 2.5em;
}
.findPW_app button{
    color: #252525;
}

@media(max-width: 768px){
    .findPW_app{
        height: fit-content;
        margin-top: 5vh;
    }
}

@media screen and (min-width: 1800px){
    .findPW_app{
        font-size: 24px;
    }
    .findPW_form{
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .findPW_app{
        font-size: 14px;
    }
    .findPW_form{
        font-size: 14px;
    }
}