.findPW_app{
    text-align: center;
    font-family: 'NanumSquare';
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #252525;
}
.logo_full{
    width: 18rem;
}
.findPW_p{
    font-size: 1.7rem;
    margin-top: 3rem;
}
.findPW_form{
    margin-top: 1rem;
}
.findPW_input{
    padding-left: 1rem;
    background-color: #FCEDE8;
    width: 20rem;
    height: 3.2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: 700;
}
.findPW_input_container{
    margin-top: 1.5rem;
}
.findPW_submit{
    font-weight: 800;
    font-size: 1.3rem;
    width: 21.2rem;
    height: 3rem;
    margin-top: 2.5rem;
    background-color:#FFD3B6;
    border: none;
    border-radius: 1rem;
}
.findPW_link{
    text-decoration: none;
    color: #252525;
}
.findPW_login{
    text-decoration: underline;
    font-size: 1.2rem;
    margin-top: 2.5rem;
}
.findPW_app button{
    color: #252525;
}

@media(max-width: 768px){
    .findPW_app{
        height: fit-content;
        margin-top: 5vh;
    }
}