.gpt_app{
    margin: 0 auto;
}
.gpt_list {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    line-height: 3rem; 
    margin-bottom:0;
}
.gpt_list li {
    padding: 0 1rem;
    height: 3rem;
}

.gpt_link {
    text-decoration: none;
    color: #252525;
    font-weight: 500;
}

.gpt_link_active {
    border-bottom: 5px solid #4C8EED;
    text-decoration: none;
    color: #252525;
    font-weight: 700;
}
.gpt_container {
    width: 72vw;
    margin: auto;
}
.gpt_title{
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
    padding-bottom: 1vh;
}
.gpt_hr {
    position: relative;
    top: -0.7rem;
    border: 1px solid gray;
    z-index: -100;
    opacity: 20%;
}
.gpt_box{
    margin: auto;
    width: fit-content;
}
.gpt_content{
    border: 2px solid #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    width: 50vw;
    min-height: 30vh;
}
.gpt_content h3{
    text-align: center;
    align-self: flex-start;
}
.gpt_modal{
    z-index: 100;
    width: 20vw;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.gpt_loading .loader{
    margin: 3vh auto;
    width: 50px; 
    padding: 8px; 
    aspect-ratio: 1; 
    border-radius: 50%; 
    background: #104085; --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box; 
    -webkit-mask: var(--_m); mask: var(--_m); 
    -webkit-mask-composite: source-out; 
    mask-composite: subtract; 
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to{transform: rotate(1turn)}
}

.gpt_text h3 {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
