.form-group {
  margin-left: 7%;
}

.checkbox-group1 {
  font-weight: bold;
  margin-right: 1rem;
  margin-inline-start: 1.7rem;
}

.checkbox-group label {
  font-weight: bold;
}

.form-detail {
  width: 58vw;
  height: 12vh;
  border: 0.1rem solid #ccc;
  overflow: auto;
}

.next-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5vh 4vw;
  background-color: #104085;
  color: white;
  border: 0rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 60%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

.cancel-button {
  font-size: 1.2rem;
  font-weight: bold;
  width: 13vw;
  height: 3.5vh;
  background-color: #104085;
  color: white;
  border: 0rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

.joinservice-form {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.join-checkbox {
  width: 67vw;
  height: 65vh;
  border: 0.1rem solid #ccc;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.homelogo {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -40%);
}
