.form-group {
  margin-bottom: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
  margin-inline-start: 2rem;
}

.checkbox-group label {
  font-weight: bold;
}

.form-detail {
  margin: 0.6rem;
  margin-left: 2rem;
  width: 70rem;
  height: 6rem;
  border: 0.1rem solid #ccc;
  overflow: auto;
}

.next-button {
  margin-left: 9rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 15rem;
  height: 2rem;
  background-color: #104085;
  color: white;
  border: 0rem;
  border-radius: 0.5rem;
}

.cancel-button {
  margin-left: 20rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 15rem;
  height: 2rem;
  background-color: #104085;
  color: white;
  border: 0rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.joinservice-form {
  margin-left: 21rem;
  font-size: 1.2rem;
}

.join-checkbox {
  margin-bottom: 1rem;
  width: 76rem;
  height: 34rem;
  border: 0.1rem solid #ccc;
  overflow: auto;
  padding-left: 3rem;
}

.homelogo {
  margin-left: 50rem;
  margin-bottom: 3rem;
  margin-top: 2.5rem;
}
