/* .joincheck_container {
  white-space: nowrap;
} */

.form-group {
  margin-left: 7%;
}

.checkbox-group1 {
  font-weight: bold;
  margin-right: 1rem;
  margin-inline-start: 1.6rem;
}

.checkbox-group label {
  font-weight: bold;
}

.required {
  margin-left: 0.3rem;
}

.form-detail {
  margin-top: 0.5rem;
  width: 58vw;
  height: 12vh;
  border: 0.1rem solid #ccc;
  overflow: auto;
}

.next-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5vh 4vw;
  background-color: #104085;
  color: white;
  border: 0rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.cancel-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5vh 4vw;
  background-color: #104085;
  color: white;
  border: 0rem;
  border-radius: 0.5rem;
}

.button_container {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -7rem;
}

.joinservice-form {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.join-checkbox {
  width: 67vw;
  height: 67vh;
  border: 0.1rem solid #ccc;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.homelogo {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .join-checkbox {
    width: 90vw;
  }
  .form-detail {
    width: 77vw;
  }
}
