.login_app{
    text-align: center;
    font-family: 'NanumSquare';
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #252525;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.login_app .logo_full{
    width: 20em;
}
.login_form{
    margin-top: 3em;
}
.login_input{
    padding-left: 1em;
    background-color: #FCEDE8;
    width: 20em;
    font-size: 1.1em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    font-weight: 700;
}
.login_pw_container{
    margin-top: 1.5em;
    position: relative;
}
.login_submit{
    font-weight: 800;
    width: 20em;
    height: 3em;
    font-size: 1.1em;
    margin-top: 2.5em;
    background-color:#FFD3B6;
    border: none;
    color: #252525;
    border-radius: 1em;
}
.login_move{
    margin-top: 1em;
    font-size: medium;
    width: 20em;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: baseline;
}
.login_find{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.login_link{
    text-decoration: none;
    color: #252525;
}
.login_line_container{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.login_line{
    margin-top: 0.7em;
    border-top: 0.1em solid black;
    width: 8.5em;
    
}
.login_or{
    margin: 0 1em;
    font-size: 1.2em;
    font-weight: 700;
}
.login_naver_container{
    margin-top: 2em;
}
.login_app .login_logo{
    width: 22em;
    margin: 0;
}
.login_kakao_container{
    margin: 0;
}
.login_kakao_container .login_logo{
    margin-top: 1vh;
}
.pw_visible img{
    width: 2em;
    cursor: pointer;
}
.pw_visible{
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}
.login_input, .login_submit, .login_logo{
    box-sizing: border-box;
}
@media screen and (min-width: 1800px){
    .login{
        font-size: 24px;
    }
    .login_form{
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .login{
        font-size: 14px;
    }
    .login_form{
        font-size: 14px;
    }
}