.login_app{
    text-align: center;
    font-family: 'NanumSquare';
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #252525;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.login_app .logo_full{
    width: 18rem;
}
.login_form{
    margin-top: 3rem;
}
.login_input{
    padding-left: 1rem;
    background-color: #FCEDE8;
    width: 20rem;
    height: 3.2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: 700;
}
.login_pw_container{
    margin-top: 1.5rem;
    position: relative;
}
.login_submit{
    font-weight: 800;
    font-size: x-large;
    width: 21.2rem;
    height: 3rem;
    margin-top: 2.5rem;
    background-color:#FFD3B6;
    border: none;
    color: #252525;
    border-radius: 1rem;
}
.login_move{
    margin-top: 1rem;
    font-size: medium;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_find{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.login_link{
    text-decoration: none;
    color: #252525;
}
.login_line_container{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.login_line{
    margin-top: 0.7rem;
    border-top: 0.1rem solid black;
    width: 8.5rem;
}
.login_or{
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.login_naver_container{
    margin-top: 2rem;
}
.login_app .login_logo{
    width: 21rem;
    margin: 0;
}
.login_kakao_container{
    margin: 0;
}
.login_kakao_container .login_logo{
    margin-top: 1vh;
}
.pw_visible img{
    width: 2rem;
    cursor: pointer;
}
.pw_visible{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
/* @media(max-width: 768px){
    .login .login_form{
        margin-top: 1.5rem;
        width: 70vw;
    }
    .login .logo_full{
        width: 70vw;
    }
    .login_input{
        width: 70vw;
    }
    .login_pw_container{
        position: relative;
    }
    .pw_visible{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .login_submit{
        width: 70vw;
    }
} */

/* .login_app{

}
.login_app .logo_full{

}
.login_form{

}
.login_input{

}
.login_pw_container{

}
.pw_visible{

}
.pw_img{

}
.login_submit{

}
.login_ul{

}
.login_li_join{

}
.login_li_id{

}
.login_li_pw{

}
.login_line_container{

}
.login_line{

}
.login_or{

}
.login_line{

}
.login_link{

}
.login_naver_container{

}
.login_kakao_container{

}
.login_naver{

}
.login_logo{

} */
