.profile_container {
  margin: 0 auto;
}

.female_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #252525;
}

.img_choice_btn,
.img_guide_btn,
.img_gan_btn {
  margin-top: 1rem;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  width: 13rem;
  height: 2.2rem;
  text-align: center;
  cursor: pointer;
}
#file {
  display: none;
}
.blur_bar {
  width: 20em;
}
.img_preview {
  width: 9rem;
  height: 12rem;
}

.img_choice_btn {
  line-height: 35px;
}
.female_choose_option hr{
  margin-bottom: 3vh;
}
.img_choice_btn,
.img_guide_btn {
  background-color: #104085;
}

.img_gan_btn {
  background-color: #4566dd;
}

.female_guide_container {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  align-items: center;
  width: 10vw;
}

.female_select_image {
  width: 10rem;
  height: 13rem;
  background-color: #d9d9d9;
  margin-bottom: 1rem;
}

.female_choose_option {
  margin-top: 2vh;
  padding-bottom: 2vh;
}

.choose_option_lb {
  font-size: 1.4rem;
  font-weight: 700;
}

.blur_option_lb,
.lip_option_lb {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 1rem;
}
.effect_bar {
  margin-left: 1rem;
  width: 10rem;
}

.female_suit,
.female_hair {
  width: 8rem;
}

.background_color {
  width: 6em;
  height: 5em;
}

.choose_option_div {
  display: flex;
  width: fit-content;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 2vh;

}
.choose_option_div2{
  margin-top: 2vh;
  flex-direction: column;
  gap: 1.2vh;
  display: flex;
}
.modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.female_suit_btn,
.female_hair_btn,
.background_btn {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 1rem;
  border-color: white;
}

.selected {
  border: 4px solid #4566dd;
}

@media only screen and (max-width: 768px) {
  .female_container {
    display: flex;
    flex-direction: column;
  }
  .female_choose_option {
    margin-top: 3rem;
    padding: 0 2vw;
  }
  .img_preview {
    margin-top: 3rem;
  }
  .female_guide_container {
    margin: auto;
  }
  .Slide1,
  .Slide2 {
    width: 100%;
  }
  .choose_option_div{
    display: block;
    padding: 0 1vw;
  }
  .choose_option_div2{
    padding: 0 1vw;
  }
  .choose_option_lb{
    padding: 0 1vw;
  }
  .female_choose_option hr{
    margin-bottom: 3vh;
    width: 95vw;
  }
  .blur_bar{
    width: 60vw;
  }

}
