.save_picture {
  width: 10rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
}

.savepicture_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.savepicture_container {
  width: 42vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .savepicture_container {
    box-sizing: border-box;
    width: 85vw;
  }
  .save_picture {
    width: 5rem;
  }
}
