.oops_app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.oops_app img{
    width: 20vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.oops_app h1{
    font-weight: 800;
}
.oops_app button{
    border: none;
    background-color: #104085;
    color: white;
    padding: 0.5em 2em;
    border-radius: 1vh;
    font-size: 1.2vw;
    margin-top: 5vh;
    font-weight: 700;
}
.oops_app button:hover{
    font-weight: 800;
}