.resetPW_app{
    text-align: center;
    font-family: 'NanumSquare';
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #252525;
}
.logo_full{
    width: 20em;
}
.resetPW_p{
    font-size: 1.7em;
    margin-top: 2em;
}
.resetPW_form{
    margin-top: 1em;
}
.resetPW_input{
    padding-left: 1em;
    background-color: #FCEDE8;
    width: 22em;
    font-size: 1.1em;
    box-sizing: border-box;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    font-weight: 700;
}
.resetPW_input_container{
    margin-top: 1.5em;
}
.resetPW_submit{
    font-weight: 700;
    font-size: 1.1em;
    width: 22em;
    height: 3em;
    box-sizing: border-box;
    margin-top: 2.5em;
    background-color:#FFD3B6;
    border: none;
    border-radius: 1em;
}
.resetPW_link{
    text-decoration: none;
    color: #252525;
}
.resetPW_login{
    text-decoration: underline;
    font-size: 1.2em;
    margin-top: 2.5em;
}
.resetPW_app button{
    color: #252525;
}

@media(max-width: 768px){
    .resetPW_app{
        height: fit-content;
        margin-top: 5vh;
    }
}


@media (max-width: 375px) {
    .resetPW_app{
        font-size: 14px;
    }
    .resetPW_form{
        font-size: 14px;
    }
}
@media (min-width: 376px) {
    .resetPW_app{
        font-size: 14px;
    }
    .resetPW_form{
        font-size: 14px;
    }
}