.join_div {
  font-family: "NanumSquare";
}

.logo-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_lb {
  font-size: 2.8rem;
  font-weight: 800;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.joincheck_lb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.joinform {
  text-align: left;
  margin-top: -14%;
  position: absolute;
  left: 20%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.vertical-line {
  height: 38rem;
  border-left: 0.07rem solid #000;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
}

.joinform_lb {
  font-size: 1.4rem;
  font-weight: 800;
  margin-left: 18rem;
}

.joinpw_lb {
  font-size: 1.4rem;

  font-weight: 800;
  margin-left: 16.75rem;
}

.joinpwpw_lb {
  font-size: 1.4rem;

  font-weight: 800;
  margin-left: 12.55rem;
}

.joinname_lb {
  font-size: 1.4rem;

  font-weight: 800;
  margin-left: 19.3rem;
}

.joincode_lb {
  font-size: 1.4rem;

  font-weight: 800;
  margin-left: 16.75rem;
}

.joinform_ip {
  margin-bottom: 1.3rem;
  margin-left: 1.5rem;
  height: 3rem;
  width: 21rem;
  font-size: 1.1rem;

  font-weight: 800;
  padding-left: 1rem;
  background-color: #fcede8;
  color: black;
  border: 0rem;
  border-radius: 0.6rem;
  outline: none;
}

.joinform_btn {
  font-weight: 800;

  margin-left: 1.5rem;
  margin-top: 3.5rem;
  width: 5rem;
  height: 2rem;
  background-color: #eff5ff;
  color: black;
  border: 0rem;
  border-radius: 0.5rem;
}

.joinform2_btn {
  font-weight: 800;

  margin-left: 1.5rem;
  width: 5rem;
  height: 2rem;
  background-color: #eff5ff;
  color: black;
  border: 0rem;
  border-radius: 0.5rem;
}

.signup_btn {
  margin-left: 23.2rem;
  margin-top: 0.7rem;
  background-color: #ffd3b6;

  font-weight: 800;
  font-size: 1.3rem;
  border: 0rem;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 22rem;
}
.social_div {
  margin-top: 7%;
  position: absolute;
  left: 40%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.social_lb {
  margin-left: 72rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.social_hr {
  width: 27rem;
  position: absolute;
  left: 88%;
  top: 13%;
  transform: translate(-50%, -50%);
}

.login_logo {
  margin-left: 73rem;
  margin-top: 1rem;
  width: 22rem;
}
.signup .navbar_app{
  display: none;
}
@media(max-width: 768px){
  .signup .navbar_app{
      display: block;
      position: absolute;
      top:0;
  }
}