.signup {
  padding: 20px;
  white-space: nowrap;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Jobhak_logo {
  width: 17rem;
  height: auto;
}

.title_lb {
  font-family: "cafe24";
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.joincheck_lb {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_logo_lb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}
.login_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
}
.login_Nlogo {
  margin-right: 1.5rem;
}

.joinform_hr {
  width: 40rem;
}
.joinform {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinform_lb {
  font-weight: 800;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  width: 10rem;
}

.joinform_ip {
  margin-bottom: 1.2rem;
  margin-left: 1.5rem;
  height: 3rem;
  width: 21rem;
  font-size: 1.1rem;
  font-weight: 800;
  padding-left: 1rem;
  background-color: #fcede8;
  color: #252525;
  border: 0rem;
  border-radius: 0.6rem;
  outline: none;
}

.joinform_btn {
  font-weight: 800;

  margin-left: 1.5rem;
  margin-top: 2rem;
  width: 5rem;
  height: 2rem;
  background-color: #eff5ff;
  color: #252525;
  border: 0rem;
  border-radius: 0.5rem;
}

.joinform2_btn {
  font-weight: 800;

  margin-left: 1.5rem;
  width: 5rem;
  height: 2rem;
  background-color: #eff5ff;
  color: #252525;
  border: 0rem;
  border-radius: 0.5rem;
}
.signup_btn {
  margin-left: 11.5rem;
  margin-top: 0.7rem;
  background-color: #ffd3b6;
  color: #252525;
  font-weight: 800;
  font-size: 1.3rem;
  border: 0rem;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 22rem;
}
.joinform_btn:hover,
.joinform2_btn:hover,
.signup_btn:hover {
  background-color: #cddfff;
}
.signup_btn:hover {
  background-color: #f9be96;
}
.login_logo {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .signup {
    padding: 10px;
  }
  .joinform_div {
    width: 100vw;
  }
  .joinform_ip {
    width: 15rem;
    margin-right: -1rem;
    font-size: 0.8rem;
  }
  .joinform_lb {
    margin-left: 1.7rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: block;
    text-align: left;
    width: 5rem;
  }
  .joinform2_btn,
  .joinform_btn {
    width: 4.5rem;
    height: 2rem;
  }
  .signup_btn {
    width: 16rem;
    margin: 1.5rem;
  }
  .joinform_hr {
    width: 20rem;
  }
}
