.swiper-container .swiper-slide-img{
    border-radius: 10px;
    border: 1px solid #0000001a;
    box-shadow: 0px 0px 3px 2px #0000001a;
    margin-bottom: 2vh;
    margin-top: 3.5vh;
    background-color: white;
}

.swiper-container .swiper-scrollbar-drag{
    background-color: #2B64B5!important;
}
.swiper-container .swiper-slide-prev{
    margin-left: 1.5vw;
}
