body {
  margin: 0;
  color:#252525;
  font-family: 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'NanumSquare';
}

button{
  font-family: 'NanumSquare';
}
textarea{
  font-family: 'NanumSquare';
  font-size: 1.15rem;
}
input{
  font-family: 'NanumSquare';
}